.bg{
    // background-image: url('../../../public/PNG/pexels-rafael-guajardo-604684.jpg');
    // background: linear-gradient(to bottom, #190019, #26425A, #294d61, #1B3358);
    // background: linear-gradient(to bottom, #0B4B66, #B8EFF3, #0D0D25);
    // background: linear-gradient(to bottom, #0B4B66 , #0D0D25);
    // background: linear-gradient(to bottom, #7cafc0,#ffffff);
    // background: linear-gradient(to bottom, #5D617C, #2D2E49);
    background-color: #0B4B66;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .bg{
        background-color: #0B4B66;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}